*{
    padding: 0;
    margin: 0;
    font-family: "Outfit", sans-serif;
}

nav {
    z-index:10;
}

.TB{
    width:100%;
    height:10vh;
    background-color:#E35336;
    display:flex;
    align-items:center;
    justify-content:space-between;
    position:fixed;
}


.Fimg{
    display:flex;
    width:9%;
    height:14vh;
    margin:1%;
}
.Divisória{
    height:8.5vh;
    width:0.3vh;
    background-color:white;
    border-style: none;
} 
nav ul{
    width:100%;
    text-align:center;
}

nav ul li{
    display:inline-block;
    list-style:none;
    margin:6vh 6vh;
    font-size:2.5vh;
    font-family:"Roboto", sans-serif;
   
}

nav ul li a{
    text-decoration:none;
    color:white;
    transition:0.35s;
    cursor:pointer;
}

nav ul li a:hover{
    margin:3vh;
    font-size:2.8vh;
    color:rgb(175, 175, 175);
}

nav ul li a:active{
    color:rgb(141, 141, 141);
}


.pag1{
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    text-align: center;

}

.fundo{
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    text-align: center;
    background-image:url("../ImagensdeIW/GradeLateral.png");
    background-size: 30% 30%;
    opacity: 5%;
    transition:0.75s;
}
/* grade lateral caso outras do teste da errado https://img.freepik.com/premium-vector/grid-45-degrees_248267-25.jpg*/
.pag2{
    height: 100vh;
    width: 100%;
    background-color: #fd8037;
    display: flex;
    justify-content: center;
    text-align: center;
    float: left;
    z-index: 2;
    position: absolute;
    top: 95vh;
}


.pag1 p{
    position: absolute;
    top: 15%;
    font-size: 6vh;
}


.prod{
    height: 60vh;
    width: 30%;
    box-shadow: 0px 10px 13px -7px #000000, 5px 29px 50px -27px #000000;
    position: absolute;
    top: 30%;
    left: 1%;
    border-radius:3vh;
    background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgba(255, 139, 82, 1) 600%);
}

.prod2{
    height: 60vh;
    width: 30%;
    box-shadow: 0px 10px 13px -7px #000000, 5px 29px 50px -27px #000000;
    position: absolute;
    top: 30%;
    left: 34.5%;
    border-radius:3vh;
    background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgba(255, 139, 82, 1) 600%);
}

.prod3{
    height: 60vh;
    width: 30%;
    box-shadow: 0px 10px 13px -7px #000000, 5px 29px 50px -27px #000000;
    position: absolute;
    top: 30%;
    left: 68%;
    border-radius:3vh;
    background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgba(255, 139, 82, 1) 600%);
}

.prod img{
    height: 30vh;
    width: auto;
    top: 20%;
}

.prod2 img{
    height: 30vh;
    width: auto;
}

.prod3 img{
    height: 30vh;
    width: auto;
}

.prod4 img{
    height: 30vh;
    width: auto;
    top: 20%;
}

.prod5 img{
    height: 30vh;
    width: auto;
    top: 20%;
}

.prod6 img{
    height: 30vh;
    width: auto;
    top: 20%;
}

.btn  p{
    display: flex;
    justify-content: center;
    text-align:center;
    align-items:center;
    font-size: 5vh;
}

.prod b p{
    opacity: 100%;
    top:30vh;
    left: 15%;
    font-size: 4vh;
    border-bottom: #000000 0.3vh solid;
}

.prod p:hover{
    transform: scale(105%);
    transition: 0.2s;
}

.btn{
    height: 8vh;
    width: 40%;
    background-color: #a8a8a8;
    margin-top: 18%;
    margin-left: 30%;
    border-radius: 50vh;
    display: flex;
    justify-content: center;
    text-align:center;
    align-items:center;
}

.btn {
    height: 8vh;
    width: 40%;
    background-color: #a8a8a8;
    margin-top: 18%;
    margin-left: 30%;
    border-radius: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn a {
    text-decoration: none;
    color: black; /* ou branco, se quiser contraste */
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.btn:hover{
    background-color: #FF9A3B;
    transition: 0.3s;
    color: white;
}

.prod:hover{
    transform: scale(110%);
    transition: 0.2s;
    opacity: 100%;
    background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgb(103, 103, 103) 300%);
}

.prod2:hover{
    transform: scale(110%);
    transition: 0.2s;
}


.prod2 div p{
    opacity: 100%;
    top: 44vh;
    left: 33%;
    font-size: 5vh;
}

.prod2 b p{
    opacity: 100%;
    top:30vh;
    left: 12%;
    font-size: 4.1vh;
    border-bottom: #000000 0.3vh solid;
}

.prod2 p:hover{
    transform: scale(105%);
    transition: 0.2s;
}

.btn2{
    height: 10vh;
    width: 40%;
    background-color: #a8a8a8;
    margin-top: 18%;
    margin-left: 30%;
    border-radius: 50vh;
    display: flex;
    align-items: center;
    align-content: center;
}

.btn2:hover{
    background-color: #FF9A3B;
    transition: 0.3s;
    color: white;
}

.prod2:hover{
    transform: scale(110%);
    transition: 0.2s;
    opacity: 100%;
    background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgb(103, 103, 103) 300%);
}



.prod3:hover{
    transform: scale(110%);
    transition: 0.2s;
}

/**/

.prod3 p{
    opacity: 100%;
    top: 44vh;
    left: 33%;
    font-size: 5vh;
}


.prod3 b p{
    opacity: 100%;
    top:30vh;
    left: 25%;
    font-size: 6vh;
    border-bottom: #000000 0.3vh solid;
}

.prod3 p:hover{
    transform: scale(105%);
    transition: 0.2s;
}

.btn3{
    height: 10vh;
    width: 40%;
    background-color: #a8a8a8;
    margin-top: 18%;
    margin-left: 30%;
    border-radius: 50vh;
    display: flex;
    align-items: center;
    align-content: center;
}

.btn3:hover{
    background-color: #FF9A3B;
    transition: 0.3s;
    color: white;
}

.prod3:hover{
    transform: scale(110%);
    transition: 0.2s;
    opacity: 100%;
    background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgb(103, 103, 103) 300%);
}


/**/

/**/

.prod4 div p{
    opacity: 100%;
    top: 44vh;
    left: 33%;
    font-size: 5vh;
}


.prod4 b p{
    opacity: 100%;
    top:30vh;
    left: 15%;
    font-size: 4vh;
    border-bottom: #000000 0.3vh solid;
}

.prod4 p:hover{
    transform: scale(105%);
    transition: 0.2s;
}

.btn4{
    height: 10vh;
    width: 40%;
    background-color: #a8a8a8;
    margin-top: 18%;
    margin-left: 30%;
    border-radius: 50vh;
    display: flex;
    align-items: center;
    align-content: center;
}

.btn4:hover{
    background-color: #FF9A3B;
    transition: 0.3s;
    color: white;
}

.prod4:hover{
    transform: scale(110%);
    transition: 0.2s;
    opacity: 100%;
    background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgb(103, 103, 103) 300%);
}


/**/

/**/

.prod5 div p{
    opacity: 100%;
    top: 44vh;
    left: 33%;
    font-size: 5vh;
}


.prod5 b p{
    opacity: 100%;
    top:30vh;
    left: 25%;
    font-size: 6vh;
    border-bottom: #000000 0.3vh solid;
}

.prod5 p:hover{
    transform: scale(105%);
    transition: 0.2s;
}

.btn5{
    height: 10vh;
    width: 40%;
    background-color: #a8a8a8;
    margin-top: 18%;
    margin-left: 30%;
    border-radius: 50vh;
    display: flex;
    align-items: center;
    align-content: center;
}

.btn5:hover{
    background-color: #FF9A3B;
    transition: 0.3s;
    color: white;
}

.prod5:hover{
    transform: scale(110%);
    transition: 0.2s;
    opacity: 100%;
    background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgb(103, 103, 103) 300%);
}


/**/

/**/

.prod6 div p{
    opacity: 100%;
    top: 44vh;
    left: 33%;
    font-size: 5vh;
}


.prod6 b p{
    opacity: 100%;
    top:30vh;
    left: 25%;
    font-size: 6vh;
    border-bottom: #000000 0.3vh solid;
}

.prod6 p:hover{
    transform: scale(105%);
    transition: 0.2s;
}

.btn6{
    height: 10vh;
    width: 40%;
    background-color: #a8a8a8;
    margin-top: 18%;
    margin-left: 30%;
    border-radius: 50vh;
    display: flex;
    align-items: center;
    align-content: center;
}

.btn6:hover{
    background-color: #FF9A3B;
    transition: 0.3s;
    color: white;
}

.prod6:hover{
    transform: scale(110%);
    transition: 0.2s;
    opacity: 100%;
    background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgb(103, 103, 103) 300%);
}


/**/

.prod4{
    height: 60vh;
    width: 30%;
    box-shadow: 0px 10px 13px -7px #000000, 5px 29px 50px -27px #000000;
    position: absolute;
    top: 30%;
    left: 1%;
    border-radius:3vh;
    background-color: white;
}

.prod5{
    height: 60vh;
    width: 30%;
    box-shadow: 0px 10px 13px -7px #000000, 5px 29px 50px -27px #000000;
    position: absolute;
    top: 30%;
    left: 35%;
    border-radius:3vh;
    background-color: white;
}

.prod6{
    height: 60vh;
    width: 30%;
    box-shadow: 0px 10px 13px -7px #000000, 5px 29px 50px -27px #000000;
    position: absolute;
    top: 30%;
    left: 68%;
    border-radius:3vh;
    background-color: white;
}

.pag2 p{
    position: absolute;
    top: 15%;
    font-size: 6vh;
}

.prod4:hover{
    transform: scale(110%);
    transition: 0.2s;
}

.prod5:hover{
    transform: scale(110%);
    transition: 0.2s;

}

.prod6:hover{
    transform: scale(110%);
    transition: 0.2s;
}

.fundo2{
    height: 100vh;
    width: 100%;
    background-color: #fd8037;
    display: flex;
    justify-content: center;
    text-align: center;
    float: left;
    border-radius: 10vh;
    position: absolute;
    background-image: url("../ImagensdeIW/GradeHexagonal.png");
    opacity: 5%;
    box-shadow: 0px -24px 50px -22px rgba(0,0,0,0.7);

}

.textbg{
    height: 10vh;
    width: 40%;
    background-color: rgb(255, 226, 187);
    position: absolute;
    top: 10%;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 5vh;
}

.Rodapé{
    width:100%;
    height:15vh;
    background-color: #6064657e;
    display:flex;
    align-items:center;
    position:absolute;
    margin-top:95vh;
}

.RodEsq{
    width:50%;
    height:15vh;
    background-color:transparent;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    font-size:3vh;
    font-family:"Lora", sans-serif;
    border-right:0.5vh solid white;
}

.RodDir{
    width:50%;
    height:15vh;
    background-color:transparent;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    font-size:2.5vh;
    font-family:"Lora", sans-serif;
    border-right:0.5vh solid white;
    
}

.RodDir ul{
    list-style-type:none;
    line-height:4vh;
}